<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
</head>
<body>
    <div id="app">
        <ele :show="show"></ele>
        <button @click="show = !show">切换 show</button>
    </div>
    <script src="../../../static/vue/vue.min.js"></script>
    <script>
        Vue.component('ele',{
           render: function (createElement) {
               if(this.show){
                   return createElement('p','show的值为true');
               }else{
                   return createElement('p','show的值为false');
               }
           },
            props: {
               show: {
                   type: Boolean,
                   default: false
               }
            }
        });
        var app = new Vue({
            el: '#app',
            data: {
                show:false
            }
        })
    </script>
</body>
</html>