<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
</head>
<body>
    <div id="app">
        <button @click="handleRef">通过ref 获取子组件实例</button>
        <my-component ref="comA"></my-component>
    </div>
    <script src="../../../static/vue/vue.min.js"></script>
    <script>
        Vue.component('my-component',{
            template: '<div>子组件</div>',
            data: function () {
                return {
                    message: '子组件内容'
                }
            }
        });
        var app = new Vue({
            el: '#app',
            methods: {
                handleRef: function () {
                    var msg = this.$refs.comA.message;
                    console.log(msg);
                }
            }
        })
    </script>
</body>
</html>