<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
</head>
<body>
    <div id="app">
        <div id="div" v-if="showDiv">这个是一段文本</div>
        <button @click="getText">get div</button>
    </div>
    <script src="../../../static/vue/vue.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                showDiv: false
            },
            methods: {
                getText: function () {
                    this.showDiv = true;
                    this.$nextTick(function () {
                        var text = document.getElementById('div').innerHTML;
                        console.log(text);
                    })
                }
            }
        })
    </script>
</body>
</html>