<!DOCTYPE html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Love For You</title>
    <meta name="keywords" content="JingGo,love">
    <meta name="description" content="my love timeline music">
    <link href="assets/renxi/default.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/music.css" rel="stylesheet">
    <link href="js/lib/timeline/timeline.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script type="text/javascript">
        (function () {
            var element = ['time', 'section', 'article', 'figure', 'figcaption'];
            for (var i = 0; i < element.length; i++) {
                document.createElement(element[i]);
            }
        })();
    </script>
    <![endif]-->
    <script type="text/javascript" src="assets/renxi/jquery.min.js"></script>
    <script type="text/javascript" src="assets/renxi/jscex.min.js"></script>
    <script type="text/javascript" src="assets/renxi/jscex-parser.js"></script>
    <script type="text/javascript" src="assets/renxi/jscex-jit.js"></script>
    <script type="text/javascript" src="assets/renxi/jscex-builderbase.min.js"></script>
    <script type="text/javascript" src="assets/renxi/jscex-async.min.js"></script>
    <script type="text/javascript" src="assets/renxi/jscex-async-powerpack.min.js"></script>
    <script type="text/javascript" src="assets/renxi/functions.js" charset="utf-8"></script>
    <script type="text/javascript" src="assets/renxi/love.js" charset="utf-8"></script>
    <script type="text/javascript" src="assets/js/parallax-slider/jquery.easing.1.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="assets/js/parallax-slider/cufon-yui.js"></script>
    <script type="text/javascript" src="assets/js/parallax-slider/ChunkFive_400.font.js"></script>
    <style type="text/css">
        <!--
        .STYLE1 {
            color: #666666
        }

        -->
    </style>
    <script type="application/x-javascript">
        Cufon.replace('h1',{ textShadow: '1px 1px #000'});
        Cufon.replace('h2',{ textShadow: '1px 1px #000'});
        Cufon.replace('.footer',{ textShadow: '1px 1px #000'});
        Cufon.replace('.pxs_loading',{ textShadow: '1px 1px #000'});
    </script>
</head>
<body>
<!--<audio preload="auto" loop="loop">
    <source src="/audio/love.mp3"></audio>
</audio>-->
<div id="main">
    <!--<div id="error">本页面采用HTML5编辑，目前您的浏览器无法显示，请换成谷歌(<a
            href="http://www.google.cn/chrome/intl/zh-CN/landing_chrome.html?hl=zh-CN&brand=CHMI">Chrome</a>)或者火狐(<a
            href="http://firefox.com.cn/download/">Firefox</a>)浏览器，或者其他游览器的最新版本。
    </div>-->
    <div id="wrap">
        <div id="text">
            <div id="code">
                <font style="color: #990033;font-weight:bold;"> <span class="say">亲爱的华宝宝，我爱你</span><br/>
                    <span class="say"> </span><br/>
                    <span class="say"> 我知道我不会甜言蜜语，</span><br/>
                    <span class="say"> </span><br/>
                    <span class="say"> 但是我会用行动证明一切，</span><br/>
                    <span class="say"> </span><br/>
                    <span class="say"> 你说我啰嗦，</span><br/>
                    <span class="say"> </span><br/>
                    <span class="say"> 有些东西因为越在乎所以越怕失去，</span><br/>
                    <span class="say"> </span><br/>
                    <span class="say"> 因为我太爱你，所以我害怕失去你，</span><br/>
                    <span class="say"> </span><br/>
                    <!--<span class="say"> 因为我太爱你了，所以我对你总啰嗦</span><br/>
                    <span class="say"> </span><br/>-->
                    <span class="say"> 希望可以执子之手，与子偕老，</span><br/>
                    <span class="say"> </span><br/>
                    <span class="say"> 如果上天让我许三个愿望，</span><br/>
                    <span class="say"> </span><br/>
                    <span class="say"> 第一个是今生今世和你在一起，</span><br/>
                    <span class="say"> </span><br/>
                    <span class="say"> 第二个是再生再世和你在一起，</span><br/>
                    <span class="say"> </span><br/>
                    <span class="say"> 第三个是永生永世和你不分离。</span><br/>
                    <span class="say"> </span><br/>
                    <!--<span class="say"><span class="space"></span> &#45;&#45; 爱你的 經-</span>-->
                </font>
                <br/>
                <br/>
            </div>
        </div>

        <div id="clock-box">
            <span class="STYLE1"></span><font color="#FF4500">亲爱的宝宝，我喜欢你</font> <span class="STYLE1">已经是……</span>
            <div id="clock"></div>
        </div>
        <canvas id="canvas" width="1100" height="680"></canvas>


    </div>

    <!-- 相片预览 -->
    <!--<div id="pxs_container" class="pxs_container" style="overflow-x:hidden;">
        <div class="pxs_bg">
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
        </div>
        <div class="pxs_loading">Loading images...</div>
        <div class="pxs_slider_wrapper">
            <ul class="pxs_slider">
                <li><img src="images/BB-01.jpg" alt="First Image" /></li>
                <li><img src="images/BB-02.jpg" alt="Second Image" /></li>
                <li><img src="images/BB-03.jpg" alt="Third Image" /></li>
                <li><img src="images/BB-04.jpg" alt="Forth Image" /></li>
                <li><img src="images/BB-05.jpg" alt="Fifth Image" /></li>
                &lt;!&ndash;<li><img src="images/BB-01.jpg}" alt="Sixth Image" /></li>&ndash;&gt;
            </ul>
            <div class="pxs_navigation">
                <span class="pxs_next"></span>
                <span class="pxs_prev"></span>
            </div>
            <ul class="pxs_thumbnails">
                <li><img src="images/thumbs/BB-01.jpg" alt="First Image" /></li>
                <li><img src="images/thumbs/BB-02.jpg" alt="Second Image" /></li>
                <li><img src="images/thumbs/BB-03.jpg" alt="Third Image" /></li>
                <li><img src="images/thumbs/BB-04.jpg" alt="Forth Image" /></li>
                <li><img src="images/thumbs/BB-05.jpg" alt="Fifth Image" /></li>
                &lt;!&ndash;<li><img src="images/thumbs/6.jpg}" alt="Sixth Image" /></li>&ndash;&gt;
            </ul>
        </div>
    </div>-->

    <div class="footer-banner" style="width:728px; margin:30px auto"></div>
</div>

<!-- start main -->
<div class="wrapper">
    <div id="music">
        <!--m_lrc start-->
        <div class="m_lrc">
            <div class="l_title">
                <div class="l_dir">
                    <a href="javascript:;" class="expandon"></a>
                </div>
                <h2 id="l_name_new">那些年喜欢听的歌</h2>
                <div class="l_share">
                    <a href="javascript:;"></a>
                </div>
            </div>
            <div class="l_con">
                <div class="l_con_lrc"></div>
                <div class="l_img">
                    <img src="../images/m.png" alt="音乐旋转图" width="300" height="300" class="arry"/>
                </div>
            </div>
            <div class="l_tools">
                <div class="t_play">
                    <div class="p_btn">
                        <a href="javascript:;" class="b_com b_1 mark" data-mark="2" title="顺序播放"></a>
                    </div>
                    <div class="p_btn">
                        <a href="#" class="b_com b_2 prev"></a>
                    </div>
                    <div class="p_btn">
                        <a href="javascript:;" class="b_com b_6" id="play" title="播放"></a>
                        <a href="javascript:;" class="b_com b_3" id="stop" title="暂停"></a>
                    </div>
                    <div class="p_btn">
                        <a href="#" class="b_com b_4 next"></a>
                    </div>
                    <div class="p_btn">
                        <a href="#" class="b_com b_5 mark" data-mark="1" title="随机播放"></a>
                    </div>
                </div>
                <div class="t_time">
                    <div class="t_start">0:00</div>
                    <div class="t_bar">
                        <div class="b_1 b_sroll"></div>
                        <div class="b_2 b_flag"></div>
                        <div class="b_3 b_all"></div>
                    </div>
                    <div class="t_end">0:00</div>
                </div>
            </div>
        </div>
        <!--end m_lrc-->

        <!--m_list start-->
        <div class="m_list">
            <div class="l_name">
                <div class="n_none">
                    <a href="javascript:;" class="expand"></a>
                </div>
                <div class="n_text">JingGo Music</div>
                <div class="n_down">
                    <a href="javascript:;"></a>
                </div>
            </div>
            <div class="l_m_con">
                <ul id="l_box">
                    <!--<li data-src="audio/1.mp3" class="b_items">
                        <i></i>
                        <a href="#">咱们结婚吧</a>
                        <span>分享</span>
                    </li>-->
                </ul>
            </div>
        </div>
        <!--end m_list-->
        <audio id="audio"></audio>
    </div>
    <!--end music-->

    <!-- start time line -->
	<div id="timeline" style="margin:0px auto;">
		<section>
            <time>2016,06,23</time>
            <h2>时间轴 记录你我美好时光</h2>
            <article>
                <p>
                    <a href="http://jinggo.wang" target="_blank">骚年，坚持梦想，Go Go Go！</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
            </article>
            <figure>
                <img src="images/jing2.png" title="海螺沟"/>
                <cite>我不会轰轰烈烈，也不会甜言蜜语，但我愿尽我所能，带给你快了和幸福！！！</cite>
            </figure>
        </section>
		<ul id="times">
		</ul>
	</div>
</div>
<script>
</script>
<script type="text/javascript">
    (function () {
        //1.相片加载
//        var $pxs_container	= $('#pxs_container');
//        $pxs_container.parallaxSlider();

        //2.播放音乐
        /*audiojs.events.ready(function() {
            var as = audiojs.createAll();
        });*/

        //3.爱心构图
        var canvas = $('#canvas');
        if (!canvas[0].getContext) {
            $("#error").show();
            return false;
        }

        var width = canvas.width();
        var height = canvas.height();
        canvas.attr("width", width);
        canvas.attr("height", height);
        var opts = {
            seed: {
                x: width / 2 - 20,
                color: "rgb(190, 26, 37)",  //190, 26, 37 爱心的颜色
                scale: 2
            },
            branch: [
                [535, 680, 570, 250, 500, 200, 30, 100, [
                    [540, 500, 455, 417, 340, 400, 13, 100, [
                        [450, 435, 434, 430, 394, 395, 2, 40]
                    ]],
                    [550, 445, 600, 356, 680, 345, 12, 100, [
                        [578, 400, 648, 409, 661, 426, 3, 80]
                    ]],
                    [539, 281, 537, 248, 534, 217, 3, 40],
                    [546, 397, 413, 247, 328, 244, 9, 80, [
                        [427, 286, 383, 253, 371, 205, 2, 40],
                        [498, 345, 435, 315, 395, 330, 4, 60]
                    ]],
                    [546, 357, 608, 252, 678, 221, 6, 100, [
                        [590, 293, 646, 277, 648, 271, 2, 80]
                    ]]
                ]]
            ],
            bloom: {
                num: 700,
                width: 1080,
                height: 650
            },
            footer: {
                width: 1200,
                height: 5,
                speed: 10
            }
        }

        var tree = new Tree(canvas[0], width, height, opts);
        var seed = tree.seed;
        var foot = tree.footer;
        var hold = 1;

        var seedAnimate = eval(Jscex.compile("async", function () {
            seed.draw();
            while (hold) {
                $await(Jscex.Async.sleep(10));
            }
            while (seed.canScale()) {
                seed.scale(0.95);
                $await(Jscex.Async.sleep(10));
            }
            while (seed.canMove()) {
                seed.move(0, 2);
                foot.draw();
                $await(Jscex.Async.sleep(10));
            }
        }));

        var growAnimate = eval(Jscex.compile("async", function () {
            do {
                tree.grow();
                $await(Jscex.Async.sleep(10));
            } while (tree.canGrow());
        }));

        var flowAnimate = eval(Jscex.compile("async", function () {
            do {
                tree.flower(2);
                $await(Jscex.Async.sleep(10));
            } while (tree.canFlower());
        }));

        var moveAnimate = eval(Jscex.compile("async", function () {
            tree.snapshot("p1", 240, 0, 610, 680);
            while (tree.move("p1", 500, 0)) {
                foot.draw();
                $await(Jscex.Async.sleep(10));
            }
            foot.draw();
            tree.snapshot("p2", 500, 0, 610, 680);

            // 会有闪烁不得意这样做, (＞﹏＜)
            canvas.parent().css("background", "url(" + tree.toDataURL('image/png') + ")");
            //   canvas.css("background", "#00BFFF");   //#ffe 可以改成同颜色的背景色
            $await(Jscex.Async.sleep(300));
            canvas.css("background", "none");
        }));

        var jumpAnimate = eval(Jscex.compile("async", function () {
            var ctx = tree.ctx;
            while (true) {
                tree.ctx.clearRect(0, 0, width, height);
                tree.jump();
                foot.draw();
                $await(Jscex.Async.sleep(25));
            }
        }));

        var textAnimate = eval(Jscex.compile("async", function () {
            var together = new Date();
            together.setFullYear(2015, 10, 9); 			//时间年月日 月份搞错了,是从0 开始的
            together.setHours(13);						//小时
            together.setMinutes(14);					//分钟
            together.setSeconds(2);					//秒前一位
            together.setMilliseconds(0);				//秒第二位

            // var together2 = new Date();
            // together2.setFullYear(2018, 10, 8); 			//时间年月日 月份搞错了,是从0 开始的
            // together2.setHours(16);						//小时
            // together2.setMinutes(18);					//分钟
            // together2.setSeconds(0);					//秒前一位
            // together2.setMilliseconds(0);				//秒第二位

            $("#code").show().typewriter();
            $("#clock-box").fadeIn(500);
            while (true) {
                timeElapse(together);
                $await(Jscex.Async.sleep(1000));
            }
        }));
        /**
         * 程序运行的开始，加载各种动画的流程
         * @type {Object}
         */
        var runAsync = eval(Jscex.compile("async", function () {
            $await(seedAnimate());
            $await(growAnimate());
            $await(flowAnimate());
            $await(moveAnimate());

            textAnimate().start();

            $await(jumpAnimate());
        }));

        runAsync().start();

        status = 1;
        //按钮点击触发爱心动画，但是我想根据状态来自动显示
        if(status == 0){
            canvas.click(function (e) {
                var offset = canvas.offset(), x, y;
                x = e.pageX - offset.left;
                y = e.pageY - offset.top;
                if (seed.hover(x, y)) { // 开始动画
                    hold = 0;
                    canvas.unbind("click");
                    canvas.unbind("mousemove");
                    canvas.removeClass('hand');
                }

                // 更新状态
                /*$.ajax({
                 url: "/async",
                 type: 'post',
                 data: {status:1},
                 success: function(response) {
                 // if the response contains any errors, replace the form
                 console.info("you are my love!!!");
                 }
                 });*/
            }).mousemove(function (e) {
                var offset = canvas.offset(), x, y;
                x = e.pageX - offset.left;
                y = e.pageY - offset.top;
                canvas.toggleClass('hand', seed.hover(x, y));
            });
        }else {
            hold = 0;
        }

        $.ajax({
         url: "http://api.jinggo.wang/love",
         type: "get",
		 dataType:"json",
         data: {status:1},
         success: function(res) {
			if (res.success === true) {
                    var templates = "";
                    res.result.forEach(function(e) {
                        var template = "<li>"
                                +"<time>"+e.formatDate+"</time>"
                                +"<h3>"+e.title+"</h3>"
                                +"<article><p>"+e.content+"</p></article>"
                                +"<figure><img src='"+e.figureImg+"' title='"+e.figureMsg+"' />"
                                +"<figcaption>"+e.figcaption+"</figcaption></figure>"
								+"</li><br/>";

                        templates += template;
                    });
				//	var hh = '<div id="timeline" style="margin:0px auto;"><section><time>2018,05,12</time><h2>时间轴 上线</h2><article><p><a href="jinggo.ml" target="_blank">骚年，坚持梦想，Go Go Go！</a></p></article><figure><img src="images/jing2.png" title="海螺沟"/><cite>我不会轰轰烈烈，也不会甜言蜜语，但我愿尽我所能，带给你快了和幸福！！！</cite></figure></section>';
				//	var content = hh + templates + "</div>";
					console.info(templates);
                  // $("#times").html(templates);
				  
                  setTimeout(function () {
		       $("#times").html(templates);
                       if (/Mobile/i.test(navigator.userAgent) || $("#timeline").length === 0) {
                          return;
                        }
                        $("#timeline").height($(window).height() - 110);
                        var timeline = new VMM.Timeline();
                        timeline.init(); 
                    }, 5000);	  
                }
         },
		 error: function(res){
			alert("服务器异常，请稍后在尝试！！！");
		 }
         });
    })();
</script>
<script type="text/javascript" src="js/lib/music/music.js" charset="utf-8"></script>
<script type="text/javascript" src="js/lib/timeline/timeline-min.js" charset="utf-8"></script>
<script type="text/javascript" src="js/common.js" charset="utf-8"></script>
</body>
</html>
